


{% include 'public_header.html' %}



<div class="container">
<div class="row  mt-2">
	
	{% if data['updates'] %}
	<div class="col-lg-5 mt-2">
			<h1 >Update Products</h1>
			<form method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<th>Productname</th>
			    <td><input type="text" class="form-control" name="pname" value="{{data['updates'][0]['pname']}}"></td>
			</tr>
			<tr>
				<th>Description</th>
			    <td><input type="text" class="form-control" name="descrp" value="{{data['updates'][0]['descrp']}}"></td>
			</tr>
			<tr>
				<th>Price</th>
			    <td><input type="number" class="form-control" name="price" value="{{data['updates'][0]['price']}}"></td>
			</tr>
			<tr>
				<th>image</th>
			    <td><input type="file" class="form-control" name="img" value="{{data['updates'][0]['img']}}"></td>
			</tr>

			<tr>
				<th>Category</th>
			    <td>
			    	
			    <select name="catg" class="form-select">
			    	{% for row in data['view'] %}
			    	<option value="{{row['cid']}}">{{row['cname']}}</option>
			    	{% endfor %}
			    </select>

			</td>
			</tr>

			<tr>
				<td ><input type="submit" class="form-control btn btn-primary mt-2" name="update" value="update"></td>
			</tr>
		</table>
	</form>
</div>
	{% else %}
	<div class="col-lg-5 mt-2">
			<h1 >Add Products</h1>
			<form method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<th>Productname</th>
			    <td><input type="text" class="form-control" name="pname"></td>
			</tr>
			<tr>
				<th>Description</th>
			    <td><input type="text" class="form-control" name="desc"></td>
			</tr>
			<tr>
				<th>Price</th>
			    <td><input type="number" class="form-control" name="price"></td>
			</tr>
			<tr>
				<th>image</th>
			    <td><input type="file" class="form-control" name="img"></td>
			</tr>

			<tr>
				<th>Category</th>
			    <td>
			    	
			    <select name="catg" class="form-select">
			    	{% for row in data['view'] %}
			    	<option value="{{row['cid']}}">{{row['cname']}}</option>
			    	{% endfor %}
			    </select>
			</td>
			</tr>

			<tr>
				<td ><input type="submit" class="form-control btn btn-primary mt-2" name="add_prod" value="add"></td>
			</tr>
		</table>
	</form>
	</div>
{% endif %}


<div class="col mt-3">
<table border="2" class="table table-bordered">
  <thead>
    <tr>
    <th scope="col">Index</th>
    <th scope="col">image</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">category</th>
      <th scope="col">description</th>
       <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

  	{% for row in data['viewp'] %}
    <tr>
      <th>{{row['pid']}}</th>
      <td><a href="/{{row['img']}}"><img src="/{{row['img']}}" width="100"></a></td>
      <td>{{row['pname']}}</td>
      <td>{{row['price']}}</td>
      <td>{{row['cname']}}</td>
      <td>{{row['descrp']}}</td>

      <td>
      	<a href="?action=update&pid={{row['pid']}}" class="btn btn-danger">update</a>
      	<a href="?action=delete&pid={{row['pid']}}" class="btn btn-warning">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
	
{% include 'footer.html' %}