
{% include 'public_header.html' %}

<div class="container">
	<div class="row  mt-5 justify-content-center ">
		<div class="col-lg-3">
		<h1>Login page</h1>
	   <form method="post">
		<table>
			<tr>
				<th>Userame</th>
				<td><input type="text" class="form-control" name="uname"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="Password" class="form-control" name="pasw"></td>
			</tr>
			<tr>
				
				<td><input type="submit" class="btn btn-primary" name="submit" value="submit"></td>
			</tr>
		</table>
	  </form>
		</div>
	</div>
</div>
	
{% include 'footer.html' %}